# Dependencies
node_modules/

# Environment variables
config/.env

# Database config
database/dbconfig.js

# Middleware
middleware/image.js
middleware/upload.js

# Upload files
uploads/

# IDE configs
.idea/
